h1 {
    color: rgb(85, 208, 230);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 20PX;    
    text-align: center;
    align-content: flex-end;
   
}


h2 {
    display: block;
    color: black; 
    font-weight: bold;
    font-size: 20PX; 
    text-align: center; 
}


h3 {
    color: rgb(19, 233, 37);
    font-size: 12PX;
    text-align: center;
    vertical-align: middle;   
}

.mylist1 li { 
      font-size: 25px; 
      padding: 5px;
      color: greenyellow; 
      text-shadow: 3px;
      text-decoration: solid;
      text-shadow: 3px;
      display: block; 
      background-color: grey;
      border-radius: 15px;
      padding: 5px;
      border-color: black;
      border-style: solid;
      text-align: center;
      margin: 5px;
}



